/* You can add global styles to this file, and also import other style files */

$primary-color: #2196f3;
$font-main-color: #2a2a2a;

$card-gray: #8a8a8a;

$list-gray-tint: #dedede;

$global-border-radius: 0.3em;

$button-transition-time: 0.3s;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  color: $font-main-color;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  border: 1px solid $card-gray;
  padding: 0.5em;

  .title {
    font-weight: 500;
  }
  .list {
    list-style-type: none;
    .item {
      &:nth-of-type(even) {
        background-color: $list-gray-tint;
      }
    }
  }
}

@mixin set-button-params(
  $bgColor,
  $fontColor,
  $borderColor: $primary-color,
  $hoverColor: darken($bgColor, 10),
  $hoverTextColor: darken($fontColor, 20)
) {
  color: $fontColor;
  background-color: $bgColor;
  border-color: $borderColor;
  &:hover {
    background-color: $hoverColor;
    color: $hoverTextColor;
    
  }
}
.button {
  border-style: solid;
  border-radius: $global-border-radius;
  border-width: 2px;
  padding: 0.75em 1em;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  transition: all $button-transition-time ease-in-out;
  cursor: pointer;
  &.primary {
    @include set-button-params($primary-color, #ffffff);
  }
  &.secondary {
    @include set-button-params(#ffffff, $primary-color);
  }
  &.tertiary {
    @include set-button-params(
      transparent,
      $primary-color,
      transparent,
      transparentize($primary-color, 0.9),
      
    );
  }
  &.google-sign-in {
    @include set-button-params(#ffffff, $primary-color);
    // fa-icon {
    //   color: $primary-color;
    // }
    &:hover {
      background-color: $primary-color;
      color: #ffffff;
    }
  }
}
